/* Hero section */
.hero-section {
    width: 100%;
    height: auto;
    background-image: url("/assets/images/hero-bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .hero-right {
    width: 50%;
  }
  
  .hero-right .hero-main-image {
    width: 100%;
    object-fit: cover;
  }