.input__bg{
    border-radius: 6px;
    background: rgba(255, 183, 3, 0.15);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
}
.contact__bg{
    /* border-radius: 15px 15px 0px 0px;
    background: linear-gradient(180deg, rgba(255, 183, 3, 0.45) 0%, rgba(255, 183, 3, 0.65) 40%, rgba(255, 183, 3, 0.85) 59.5%, #FFB703 100%);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25); */
    background: #FFB703;
}
.contact_us_btn{
    border-radius: 8px;
    background: rgba(251, 204, 33, 0.89);
}